<!DOCTYPE html>
<html>
<head>
    <title>ALP</title>

    <!-- Use google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

    <!-- Use bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <!-- Link stylesheet -->
    <link rel="stylesheet" href='../static/styles/style.css'>
</head>

<body>
    <div class="hero">

        <div class="container-interface">

            <div class="chat-container card">
                <div class="card-header">
                    <p>
                        ALP - SESSION: {{session_name}}; DATE: {{session_date}}; AGENT: {{agent_name}}
                    </p>
                </div>
                <div class="chat-box">
                    <div class="response-container">
                        <div id="response"></div>
                        <div class="spinner" id="processing" style="display: none;">
                            <div class="cube1"></div>
                            <div class="cube2"></div>
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <form id="ask-form">
                        <!-- <label for="question">User Input:</label> -->
                        <textarea name="question" required style="width: 66%;"></textarea>
                        <div class="button-container">
                            <input type="submit" id="ask-button" value="Ask">
                            <input type="button" value="<< Home" onclick="window.location.href='/'">
                            <input type="button" value="Export" onclick="window.location.href='/export_interactions'">
                        </div>
                    </form>
                </div>
            </div>

            <!-- Place for teh card on the right side of the viewport -->
            <!-- <div class="right-side-interface">
                    <a href="http://localhost:5000/"><< Back to Session setup</a>
                    <p>Session name: {{session_name}}</p>
                    <p>Session start date: {{session_date}}</p>
                    <p>Source: {{session_source}}</p>
            </div> -->

        </div>
    </div>
    <!-- Fetch chat history and session name from the back-end -->
    <script>
        let chatHistory = {{ chat_history|tojson|safe }};
        let sessionName = {{ session_name|tojson|safe }};
    </script>
    <script src="../static/scripts/chat.js"></script>
</body>
</html>
