<!DOCTYPE html>
<html>
<head>
    <title>ALP</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href='../static/styles/style.css'>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Talk to ALP</h1>
            <form id="ask-form">
                <label for="question">User Input:</label>
                <textarea name="question" required></textarea><br><br>
                <input type="submit" value="Ask">
            </form>
        </div>
        <div class="response-container">
            <div id="response"></div>
            <img src="/static/processing.gif" id="processing" style="display: none; width:128px;">
        </div>
    </div>

    <script src="../static/scripts/chat.js"></script>
    
</body>
</html>
