<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ALP</title>
    <link rel="stylesheet" href='../static/styles/welcome-style.css'>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>Hi! Provide session details</h2>
            <form action="/set_session_details" method="post" enctype="multipart/form-data">
                <label for="session_name">Session Name:</label>
                <input type="text" id="session_name" name="session_name">
                <label for="api_key">API Key:</label>
                <input type="text" id="api_key" name="api_key">
                <label for="pdf">Upload PDF:</label>
                <input type="file" name="pdf" accept=".pdf" required><br><br>
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>

    <!-- <script src="/static/scripts/session_start.js"></script> -->
</body>
</html>

